/*step-1*/
.loc-text{
    margin-left: 10%;
}
.loc-btn-no{
  margin-left: 16.5%;
  margin-inline-start: 28%;
  margin-right: 10%;
} 
.loc-btn-yes{
  margin-top: 10%;
}
.mat-raised-button{
  margin-left: 12.5%;
}
.mat-raised-button.mat-primary {
  background-color: #1aa237;
}
.mat-raised-button.mat-primary1 {
  background-color: #e63333;
  color: white;
}
/*step-2*/
.img-fileupload-st2{
  width: 40%;
  height: 50%;
  margin-left: 32.5%;
  margin-top: 3%;
}
.icon-backup1 {
  margin-left:33%;
  font-size: 1800%;
}
.loc-btn-cancel{
  margin-inline-start: 27.5%;
}
.loc-btn-next{
  margin-inline-start: 28%;
  margin-top: 2%;
}
.loc-Choosefile{
    margin-left: 33%;
    margin-top: 1%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.text-file-size1{
  margin-top: 5%;
  margin-left: 25%;
  max-width: 100%;
  width: 50%;
}
.text-col-st2-f{
  margin-left: 35%;
}
.card-st2{
  max-width: 100%;
    height: 30%;
}
/*step3*/
.example-form {
    min-width: 15%;
    max-width: 100%;
    width: 100%;
  }
  
  .example-full-width {
    width: 96%;
  }
  .textbox-loc{
    margin-left: 1%;
  }
  .btn-back-loc{
    margin-left: 51.5%;
  }
  .btn-next-loc{
    margin-left: 31.15%;
    margin-top: -20%;
  }
  .example-card {
    max-width: 90%;
    height: 20%;
  }
  .example-card1 {
    max-width: 100%;
    height: 95%;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .example-viewport {
    height: 550px;
    width: 900px;
    border: 1px solid #00000021;
  }
  .loc-text-st3{
    margin-left: 35%;
  }
  .spinner-doc {
  margin-left: 20%;
  margin-top: 55%;
  }
  .spinner-doc1{
  margin-left: 22%;
  }
  /*step-4*/
  .icon-backup {
    vertical-align: middle;
    margin-left: 37%;
    font-size: 200px;
  }
  .text-loc{
    margin-left: 28%;
  }
  .btn-st4-back-loc{
    margin-left: 28%;
  }
  .btn-st4-next-loc{
    margin-left: 27.5%;
  }
  .text-file-size{
    width: 61%;
  }
  /*step-5*/
  .btn-st5-back-loc{
    margin-left: 25%;
    margin-top: 1%;
  }
  .btn-st5-confirm-loc{
    margin-left: 31.5%;
    margin-top: 3px;
  }
  .icon-check{
    color: green;
  }
  .example-card2 {
    max-width: 100%;
    width: 48%;
    height: 20%;
    margin-left: 25%;
  }
  .text-loc2{
    margin-left: 20%;
  }
  .text-file{
    margin-left: 25%;
    width: 48%;
  }
