<div class="row" *ngIf="students.length === 0">
  <h4 class="mt-3">เพิ่มข้อมูลการสมัครเรียน</h4>
  <div class="container">
    <mat-icon class="icon-personadd" (click)="openDialog()">note_add</mat-icon>
  </div>
</div>
<div class="row" *ngIf="students.length > 0">
  <h4 class="mt-3">รายชื่อนักเรียน</h4>
  <div class="col-12">
    <div>
      <mat-icon class="icon-personadd1" (click)="openDialog()">note_add เพิ่มข้อมูลรายชื่อ</mat-icon>
    </div>
    <div class="row mt-5">
      <div class="col-3 id">
        เลขประจำตัว
      </div>
      <div class="col-3">
        ชื่อ-นามสกุล
      </div>
      <div class="col-3">
        สถานะ
      </div>
      <div class="col-3">
        จัดการ
      </div>
    </div>
    <div class="row mt-2" *ngFor="let student of students">
      <div class="col-3">
        {{student.id}}
      </div>
      <div class="col-3">
        {{student.Fullname}}
      </div>
      <div class="col-3">
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
      </div>
      <div class="col-3">
        <button mat-raised-button><mat-icon class="icon-edit">edit</mat-icon>แก้ไข</button>&nbsp;
        <button mat-raised-button><mat-icon class="icon-download">cloud_download</mat-icon>ดาวน์โหลด</button>
      </div>
    </div>
  </div>
</div>