.icon-personadd{
    font-size: 2500%;
    margin-top: 8%;
    margin-left: 28%;
    color: rgb(101, 190, 74);
}
.icon-personadd1{
    color: rgb(101, 190, 74);
}
.text-color{
    color: rgb(236, 16, 16);
}
.icon-edit{
    color: green;
}
.icon-download{
    color: red;
}
.id{
    vertical-align: middle;
}