.icon-personadd{
    font-size: 2500%;
    margin-top: 8%;
    margin-left: 28%;
    color: rgb(101, 190, 74);
}
.icon-personadd1{
    color: rgb(101, 190, 74);
}
.icon-edit{
    color: white;
}
.icon-download{
    color:white;
}
.select-status{
    width:60%;
    background-color: rgb(243, 243, 243);
}
.mat-raised-button.mat-primary {
    background-color: #1aa237;
  }
  .mat-raised-button.mat-primary1 {
    background-color: #e63333;
    color: white;
  }